      <%- include('../partials/header2') %>
      <form class="event-page" method="GET" action="events/new">
        <h1>Event Calendar</h1>
        <button type="submit" class="btn btn-warning">Add Event</button>
      </form>
      <div class="container">
        <div class="row col-md-6 custyle table1">
          <table class="table custab">
            <thead>
              <tr>
                <th>Date:</th>
                <th>Time:</th>
                <th>Event:</th>
                <th>City:</th>
                <th class="text-center">Details</th>
                <th class="text-center">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% events.forEach(function(e) { %>
                <%= console.log(e); %>
              <tr>
                <td><%= new Date(e.date).toDateString() %></td>
                <td><%= e.time %></td>
                <td><%= e.title %></td>
                <td><%= e.city %></td>
                <td class="text-center">
                  <a class='btn btn-info btn-xs' href="/events/<%= e._id %>"><span class="glyphicon glyphicon-edit"></span>Details</a> 
                </td>
                <td class="text-center">
                  <form action="/events/<%= e._id %>?_method=DELETE" id="delete-form" method="POST">
                    <button type="Submit">Delete</button>
                  </form> 
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <%- include('../partials/footer2') %>


