          <%- include('../partials/header2') %>
          <form class="event-page" method="GET" action="events/new">
            <h1>Event Calendar</h1>
            <button type="submit" class="btn btn-warning">Add Event</button>
          </form>
      <div class="container">
        <div class="row col-md-6 custyle table1">
          <table class="table custab">
            <thead>
              <!-- <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b>Add New Category</a> -->
              <tr>
                <th>Date:</th>
                <th>Time:</th>
                <th>Event:</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <% events.forEach(function(e) { %>
              <tr>
                <td><%= e.date %></td>
                <td><%= e.time %></td>
                <td><%= e.title %></td>
                <td class="text-center">
                  <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span>Details</a> 
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <%- include('../partials/footer2') %>
