      <%- include('../partials/header') %>
      <section class="show-details-page">
        <div class="show-child">Title: <%= event.title %></div>
        <br/>
        <div class="show-child">Date: <%= event.date %></div>
        <div class="show-child">Time: <%= event.time %></div>
        <br/>
        <div class="show-child">Address: <%= event.address %></div>
        <div class="show-child">City: <%= event.city %></div>
        <div class="show-child">State: <%= event.state %></div>
        <br/>
        <div class="show-child">Event Description: <%= event.descrip %></div>
        <br/>
        <br/>
        <div class="show-child">Feedback: </div>
        <div><% event.review %></div>
      </section>
    <br><br><h2>Add Feedback:</h2>
    <form id="add-feedback-form" method="POST"
      action="/events/<%= event._id %>/comments">
      <label>Comments:</label>
      <textarea name="comment"></textarea>
      <label>Rating:</label>
      <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      </select>
      <input type="submit" value="Add Feedback">
    </form>




      <%- include('../partials/footer') %>


