      <%- include('../partials/header') %>
      <section class="show-details-page">
        <div class="show-child">Title: <%= event.title %></div>
        <br/>
        <div class="show-child">Date: <%= event.date %></div>
        <div class="show-child">Time: <%= event.time %></div>
        <br/>
        <div class="show-child">Address: <%= event.address %></div>
        <div class="show-child">City: <%= event.city %></div>
        <div class="show-child">State: <%= event.state %></div>
        <br/>
        <div class="show-child">Event Description: <%= event.descrip %></div>
        <br/>
        <br/>
        <div class="show-child">Feedback: </div>
        <% if (event.reviews.length) { %>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Comment</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <% event.reviews.forEach(function(r) { %>
                <tr>
                  <td><%= r.createdAt.toLocaleDateString() %></td>
                  <td><%= r.comments %></td>
                  <td><%= r.rating %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        <% } else { %>
          <h5>No Reviews Yet</h5>
        <% } %>
      </section>
      <div class="container">
      <div class="row col-md-6 custyle table1">
      <table class="table custab">
        <thead>
          <tr>
            <th>Add Feedback:</th>
          </tr>
        </thead>
        <tbody>
          <form id="add-feedback-form" method="POST" action="/events/<%= event._id %>/comments">
          <tr>
            <td>
              <label>Comments:</label>
              <textarea name="comments"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <label>Rating:</label>
              <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Add Feedback">
            </td>
          </tr>
        </form>
        <%- include('../partials/footer') %>



